{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <form action=""
                method="post">
                    Name :  <label>
                               <input type="text" placeholder="here goes item name"
                                      name="itemName">
                            </label>
                    <br>
                    Description :   <label>
                                       <textarea
                                               placeholder="here goes items description"
                                               style="height: 200px;width:200px"
                                               name="itemDescription">
                                       </textarea>
                                    </label>
                    <br>
                    Category :
                            <label>
                               <select name="category_selection">
                                   {% for category_name in categories_names %}
                                       <option value="{{ category_name.id }}">{{ category_name.name }}</option>
                                   {% endfor %}
                               </select>
                            </label>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
