{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <form action="{{ url_for('editAndDeleteItem',
                        category_name=current_item.category.name,
                        item_name=current_item.name,
                        action_type='edit') }}"
                method="post">
                    Name :  <label>
                               <input type="text" placeholder="{{ current_item.name }}"
                                      value="{{ current_item.name }}" name="itemName">
                            </label>
                    <br>
                    Description :   <label>
                                       <textarea style="height: 200px;width:200px" name="itemDescription">
                                           {{ current_item.description }}
                                       </textarea>
                                    </label>
                    <input type="submit" value="Submit">
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}
