<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showCategories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
		</a>
	</div>
	<div class="col-md-6 text-right">
        <div class = "row">
            <div class="col-md-6">
                <div
                  class="g-signin2"
                  data-onsuccess="onSignIn"
                  data-onfailure="onSignInFailure"
                  data-theme="dark">
                </div>
            </div>
            <div class="col-md-3">
                <a id="logout_link" href="#" hidden onclick="signOut();">Sign out</a>
            </div>
            <div class="col-md-3">
                <img id="profile_pic" alt="profile picture" src="/static/img/notlogged.png" height="40" width="60"/>
            </div>
        </div>
	</div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="color:red;">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
    // Google Sign-in (new)
    function onSignIn(googleUser) {
    // Handle successful sign-in
    if(googleUser) {
        console.log(googleUser);
        $.ajax({
            type: 'POST',
            url: '/revalidate',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success: function (result) {
                // Handle or verify the server response.
            },
            processData: true,
            data: googleUser['w3']['Eea']
        });
        sessionStorage.setItem("logged-out", "0");
        let code='';
        document.getElementById("profile_pic").setAttribute("src", googleUser['w3']['Paa']);
        document.getElementById("logout_link").removeAttribute("hidden");
        let authInstance = gapi.auth2.getAuthInstance();
        if (sessionStorage.getItem('logged-out') === "1" ) {
            authInstance.grantOfflineAccess({prompt: "none"}).then(function (authResult) {
                code = authResult['code'];
                // Send the code to the server
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    // Always include an `X-Requested-With` header in every AJAX request,
                    // to protect against CSRF attacks.
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response.
                    },
                    processData: false,
                    data: code
                });
                sessionStorage.setItem("logged-out","0")
            });
        }} else {
            // There was an error.
            console.log("ERROR DUDE")
        }
    }
    function onSignInFailure() {
    // Handle sign-in errors
        console.log("FAIL LOGIN")
    }
    function signOut() {
       var auth2 = gapi.auth2.getAuthInstance();
       auth2.signOut().then(function () {
         console.log('User signed out.');
         $.ajax({
              type: 'POST',
              url: '/login',
              // Always include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                  'X-Requested-With': 'XMLHttpRequest',
                  'logged_out': 'true'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response.
              }
            });
       });
       sessionStorage.setItem("logged-out","1");
       document.getElementById("profile_pic").setAttribute("src","/static/img/notlogged.png");
       document.getElementById("logout_link").setAttribute("hidden","true");
    }
</script>