<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="879386514782-k66d7lkccrcascnp95v6b1pgd61uq1h5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Items Catalog</title>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>