{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div class="col-md-12">
		<h1>{{ selected_item.name }} : </h1>
        <blockquote> {{ selected_item.description }}</blockquote>
        <span style="visibility: {{ show_editing_links }}">
                <a href="{{ url_for('editAndDeleteItem',
                        category_name=selected_item.category.name
                        ,item_name=selected_item.name,action_type='edit') }}">Edit</a>
                |
                <a href="{{ url_for('showCategories') }}"
                id="deleteItemLink">Delete</a>
        </span>
	</div>
</div>
    <script>
$(function() {
  $("#deleteItemLink").on("click",function(e) {
    e.preventDefault(); // cancel the link itself
      {#item = {id:"",name:""};#}
      {#item.id = "{{ selected_item.category.id }}";#}
      {#item.name = "{{ selected_item.name }}";#}
    $.ajax({
            type: 'POST',
            url: "{{ url_for('editAndDeleteItem',
                        category_name=selected_item.category.name
                        ,item_name=selected_item.name,action_type='delete') }}",
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success: function (result) {
                // Handle or verify the server response.
                console.log(result);
                if(result==='success'){
                    setTimeout(function () {
                        window.location = "{{ url_for('showCategories') }}";
                    },1500)
                }
            },
            data: JSON.stringify({
                "id": "{{ selected_item.category.id }}",
                "name": "{{ selected_item.name }}"
            })
    });
  });
});
</script>
{% endblock %}
